:root {
	/* CSS HEX */
	--robin-egg-blue: #41c7c7ff;
	--russian-violet: #1f1b4bff;
	--emerald: #34d399ff;
	--white: #ffffffff;
	--antiflash-white: #f3f4f6ff;

	--font-color: #5d576b;
	--logo-color: #8884ff;

	--font-thin: normal normal 100 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-extralight: normal normal 200 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-light: normal normal 300 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-regular: normal normal 400 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-medium: normal normal 500 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-semiBold: normal normal 600 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-bold: normal normal 700 normal 16px/1.5 "IBM Plex Sans", serif;

	--font-thin-italic: normal normal 100 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-extralight-italic: normal normal 200 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-light-italic: normal normal 300 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-regular-italic: normal normal 400 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-medium-italic: normal normal 500 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-semiBold-italic: normal normal 600 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-bold-italic: normal normal 700 normal 16px/1.5 "IBM Plex Sans", italic;


	--transition-value: all 250ms ease;

	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font: var(--font-regular);
}

body {
	font-size: 14px;
	background-color: var(--white);
	color: var(--russian-violet);
	height: 100%;
}

main {
	left: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 2rem;
}

nav {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	top: 0;
	left: 0;
	justify-self: center;
	font-size: 16px;
	display: flex;
	position: fixed;
	height: 6rem;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--white);
	z-index: 2;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 4rem;
	list-style-type: none;
}

select,
button {
	font: var(--font-bold);
}

.flex {
	position: relative;
	display: flex;
	/*width: 90%;*/
}

.inline-flex {
	display: inline-flex;
}

.gap {
	gap: 1rem;
}

.item {
	background-color: var(--antiflash-white);
	border-radius: 1rem;
	padding: 0 2rem;
}

.item:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	cursor: pointer;
}

.col {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.center-h {
	align-items: center;
}

.center-v {
	justify-content: center;
}

.between-h {
	justify-content: space-between;
}

input[type="text"]#name {
	box-shadow: inset 1px 1px 3px #ccc;
	border-radius: 5px;
}

input[type="text"].description {
	height: 1rem;
	border: none;
	outline: none;
}

form {
	font-size: 18px;
	top: 20%;
	position: relative;
	width: 30%;
}

form input {
	height: 2em;
	width: 20%;
}

#tasks-pane,
#contribs-pane {
	border: solid 1px var(--select-border);
}

.grid {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.grid.row-1 {
	grid-template-rows: 1fr;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 1em;
}

.logo {
	color: var(--robin-egg-blue);
	font: var(--font-bold);
	text-decoration: none;
	font-size: 3em;
	padding-left: 1em;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	padding-right: 1em;
}

.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.avatar.small {
	width: 2rem;
	height: 2rem;
}

select {
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	display: grid;
	grid-template-areas: "select";
}

select,
.select:after {
	grid-area: select;
}

.select:after {
	justify-self: end;
}

.select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select::-ms-expand {
	display: none;
}

button {
	appearance: button;
	backface-visibility: hidden;
	background-color: var(--robin-egg-blue);
	border-radius: 6px;
	border-width: 0;
	box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
	font-size: 100%;
	height: 44px;
	line-height: 1.15;
	margin: 12px 0 0;
	outline: none;
	overflow: hidden;
	padding: 0 25px;
	position: relative;
	text-align: center;
	text-transform: none;
	transform: translateZ(0);
	transition: all .2s, box-shadow .08s ease-in;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:disabled {
	cursor: default;
}

button:focus {
	box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.btn-logout {
	background-color: var(--melon);
	color: var(--white);
	border-radius: 4px;
	border: none;
}

.btn-logout.a {
	color: var(--white);
	text-decoration: none;
}



.options-list {
	padding: 0;
	width: 100%;
	font-size: 20px;
	display: grid;
	gap: 3em;
	padding-left: 15em;
	grid-template-columns: 20em auto;
	place-items: start;
	line-height: 3rem;
}

.options-list-item {
	display: flex;
	gap: 1rem;
}

input[type="radio"] {
	-ms-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
}


.checkbox>input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.checkbox__icon {
	display: inline-block;
	color: #999;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 1.5rem;
	/* Increase the font size */
	line-height: 1.5;
	/* Adjust for better alignment */
}

input[type="checkbox"]:checked~.checkbox__icon {
	color: #2A7DEA;
}

.checkbox__icon:before {
	font-family: "icons-27";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 24px;
	/* Larger size */
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--check:before,
input[type="checkbox"]:checked~.checkbox__icon:before {
	content: "\e601";
}

.icon--check-empty:before,
.checkbox__icon:before {
	content: "\e600";
}

@font-face {
	font-family: "icons-27";
	font-weight: normal;
	font-style: normal;
	src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAR4AAoAAAAABDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAPgAAAD4fZUAVE9TLzIAAAHsAAAAYAAAAGAIIvy3Y21hcAAAAkwAAABMAAAATBpVzFhnYXNwAAACmAAAAAgAAAAIAAAAEGhlYWQAAAKgAAAANgAAADYAeswzaGhlYQAAAtgAAAAkAAAAJAPiAedobXR4AAAC/AAAABgAAAAYBQAAAG1heHAAAAMUAAAABgAAAAYABlAAbmFtZQAAAxwAAAE5AAABOUQYtNZwb3N0AAAEWAAAACAAAAAgAAMAAAEABAQAAQEBCGljb21vb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v4lPh0BR0AAAB8Dx0AAACBER0AAAAJHQAAAO8SAAcBAQgPERMWGyBpY29tb29uaWNvbW9vbnUwdTF1MjB1RTYwMHVFNjAxAAACAYkABAAGAQEEBwoNL2X8lA78lA78lA77lA6L+HQVi/yU+JSLi/iU/JSLBd83Fffsi4v77Pvsi4v37AUOi/h0FYv8lPiUi4v33zc3i/s3++yLi/fs9zeL398F9wCFFftN+05JzUdI9xr7GveR95FHzwUO+JQU+JQViwwKAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gEB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAf/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAACkYCfgXw889QALAgAAAAAAz65FuwAAAADPrkW7AAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAAYAAAAAAAAAAAAAAAABAAAAAgAAAAIAAAAAAFAAAAYAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff");
}

.cross {
	--b: 2px;
	/* the thickness*/
	--c: #0000 90deg, #000 0;
	/* the coloration */
	width: 1rem;
	/* the size */
	aspect-ratio: 1;
	transform: rotate(45deg);
	background:
		conic-gradient(from 90deg at var(--b) var(--b), var(--c)) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));
}

.cross:hover {
	--c: #0000 90deg, red 0;
	--b: 3px;
}

.repo-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	left: 10%;
	width: 90%;
}

.load-more-btn {
	align-self: center;
	width: 10em;
}

table,
th,
td {
	border: 1px solid var(--select-border);
	border-collapse: collapse;
}

th,
td {
	padding: 2rem;
}

th {
	text-align: left;
}


svg {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
}

footer {
	left: 0;
	height: 2rem;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
}

.made-with-love {
	padding: 10px;
	font-size: 10px;
	color: var(--font-color);

	i {
		font: var(--font-thin);
		color: var(--russian-violet);
		font-size: 14px;
		position: relative;
		top: 2px;
	}

	a {
		color: var(--russian-violet);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.htmx-indicator {
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
	opacity: 1
}

.htmx-request.htmx-indicator {
	opacity: 1
}

.button.htmx-swapping {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
