:root {
	/* CSS HEX */
	--robin-egg-blue: #41c7c7ff;
	--russian-violet: #1f1b4bff;
	--emerald: #34d399ff;
	--white: #ffffffff;
	--antiflash-white: #f3f4f6ff;

	--font-color: #5d576b;
	--logo-color: #8884ff;

	--font-thin: normal normal 100 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-extralight: normal normal 200 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-light: normal normal 300 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-regular: normal normal 400 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-medium: normal normal 500 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-semiBold: normal normal 600 normal 16px/1.5 "IBM Plex Sans", serif;
	--font-bold: normal normal 700 normal 16px/1.5 "IBM Plex Sans", serif;

	--font-thin-italic: normal normal 100 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-extralight-italic: normal normal 200 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-light-italic: normal normal 300 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-regular-italic: normal normal 400 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-medium-italic: normal normal 500 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-semiBold-italic: normal normal 600 normal 16px/1.5 "IBM Plex Sans", italic;
	--font-bold-italic: normal normal 700 normal 16px/1.5 "IBM Plex Sans", italic;


	--transition-value: all 250ms ease;

	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 12px;
	font: var(--font-regular);
}

body {
	background-color: var(--white);
	color: var(--russian-violet);
	height: 100%;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 2rem;
}

nav {
	justify-self: center;
	top: 0;
	font-size: 16px;
	display: flex;
	position: fixed;
	height: 6rem;
	justify-content: space-between;
	align-items: center;
	width: 99%;
	background-color: var(--white);
	z-index: 2;
}

ul {
	list-style-type: none;
}

select,
button {
	font-family: var(--font-bold);
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 1em;
}

.logo {
	color: var(--emerald);
	font: var(--font-bold);
	text-decoration: none;
	font-size: 3em;
	padding-left: 1em;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	padding-right: 1em;
}

.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

form {
	position: absolute;
	top: 40%;
	display: flex;
	gap: 1rem;
	z-index: 2;
}

select {
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	display: grid;
	grid-template-areas: "select";
}

select,
.select:after {
	grid-area: select;
}

.select:after {
	justify-self: end;
}

.select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select::-ms-expand {
	display: none;
}

.center {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-key {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: var(--font-bold);
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s, transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}

.button-key:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-key:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}

.button-key:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}

.btn-logout {
	background-color: var(--melon);
	color: var(--white);
	border-radius: 4px;
	border: none;
}

.btn-logout.a {
	color: var(--white);
	text-decoration: none;
}

.content {
	position: relative;
	display: flex;
	width: 90%;
	gap: 1rem;
}

.col {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.quiz {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.options-list {
	padding: 0;
	width: 100%;
	font-size: 20px;
	display: grid;
	gap: 3em;
	padding-left: 15em;
	grid-template-columns: 20em auto;
	place-items: start;
	line-height: 3rem;
}

.options-list-item {
	display: flex;
	gap: 1rem;
}

input[type="radio"] {
	-ms-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
}

.results-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 40%;
	scroll-behavior: auto;
}

.result-quiz {
	position: relative;
	display: flex;
	flex-direction: column;
}

.repo-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	left: 10%;
	width: 90%;
}

.history {
	position: relative;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

.load-more-btn {
	align-self: center;
	width: 10em;
}

.history ul {
	padding-left: 5em;
}

table,
th,
td {
	border: 1px solid var(--select-border);
	border-collapse: collapse;
}

th,
td {
	padding: 2rem;
}

th {
	text-align: left;
}


svg {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
}

footer {
	height: 2rem;
	bottom: 0;
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
}

.made-with-love {
	padding: 10px;
	font-size: 10px;
	color: var(--font-color);

	i {
		font: var(--font-thin);
		color: var(--russian-violet);
		font-size: 14px;
		position: relative;
		top: 2px;
	}

	a {
		color: var(--russian-violet);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.htmx-indicator {
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
	opacity: 1
}

.htmx-request.htmx-indicator {
	opacity: 1
}

.button.htmx-swapping {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
