{{define "title"}}Todev{{end}}
{{define "body"}}
<main class="col gap">
	{{if eq (len .Repos) 0}}
	<h3>No repos...</h3>

	{{else}}
	<ul class="flex col gap">
		{{range $repo := .Repos}}
		<li>
			<div class="flex item between-h width-90">
				<h3><a href="/repos/{{$repo.ID}}">{{$repo.Name}}</a></h3>
				<h3 class="time">{{$repo.UpdatedAt}}</h3>
			</div>
		</li>
		{{end}}
	</ul>
	{{end}}

</main>
{{end}}

{{define "control"}}
<form method="GET" action="/repos/new" class="flex center-h col">
	<button type="submit">
		<img class="svg" src="/assets/plus.svg"></img>
	</button>
</form>
{{end}}

{{define "scripts"}}
<script src="/assets/scripts/index.js"></script>
{{end}}
