{{define "title"}}Repos{{end}}

{{define "body"}}
<main class="col gap">
	{{if gt (len .Repos) 0}}
	<div class="flex col center">
		<table>
			<thead>
				<tr>
					<th>
						Name
					</th>

					<th>
						Last Updated
					</th>
				</tr>
			</thead>


			<tbody>
				{{range $repo := .Repos}}
				<tr>
					<th>
						<a href="/dials/{{$repo.ID}}">
							{{$repo.Name}}
						</a>
					</th>

					<td>
						{{$repo.UpdatedAt}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
	{{else}}
	<h4>Nothing to see here ...</h4>
	{{end}}
</main>

{{end}}
{{define "scripts"}}{{end}}
