{{define "title"}}{{.Repo.Name}}{{end}}
{{define "body"}}
<main id="repo-info" data-repo-id={{.Repo.ID}} data-contributor-id={{.Contributor.ID}}
	data-is-admin={{.Contributor.IsAdmin}}>
	<div class="grid row-1">
		<div class="flex col gap" id="contribs-pane">
			<button id="invite-link-button" onclick="copyContent('{{.InviteCode}}')">Copy invite
				link</button>
			{{range $contributor := .Repo.Contributors}}
			<div class="flex center-h gap">
				<img class="avatar small" src="{{$contributor.User.AvatarURL}}"
					aria-placeholder="Avatar" />
				<h4>{{$contributor.User.Name}}</h4>
			</div>
			{{end}}
		</div>

		<div id="tasks-pane">
			{{if eq .UserID .Repo.UserID}}
			<button id="add-task-button">
				Create task
			</button>
			{{end}}

			<ul id="tasks-list">
				{{range $task := .Tasks}}
				{{if eq $task.IsCompleted false}}
				<script>
					window.addEventListener('load', function () {
						document.getElementById('tasks-list').dispatchEvent(new CustomEvent('add-task', {
							bubbles: true,
							detail: {
								description: "{{$task.Description}}",
								isCompleted: false,
								id: "{{$task.ID}}"
							}
						}))
					})
				</script>
				{{end}}
				{{end}}
			</ul>

			<ul id="completed-tasks-list" hidden>
				<hr>
				<h3 id="title-completed">Completed</h3>
				{{range $task := .Tasks}}
				{{if eq $task.IsCompleted true}}
				<script>
					window.addEventListener('load', function () {
						document.getElementById('completed-tasks-list').dispatchEvent(new CustomEvent('add-task', {
							bubbles: true,
							detail: {
								description: "{{$task.Description}}",
								isCompleted: true,
								id: "{{$task.ID}}"
							}
						}))
					})
				</script>
				{{end}}
				{{end}}
			</ul>
		</div>
	</div>
</main>
{{end}}

{{define "scripts"}}
<script defer src="/assets/scripts/reconnecting-websocket.js"></script>
<script defer src="/assets/scripts/repoView.js"></script>
{{end}}
