{{define "title"}}{{.Repo.Name}}{{end}}
{{define "body"}}
<main id="repo-info" data-repo-id={{.Repo.ID}} data-contributor-id={{.Contributor.ID}}
	data-is-admin={{.Contributor.IsAdmin}}>
	<div class="grid row-1">
		<div id="contributors-pane">
			<button id="invite-link-button" onclick="copyContent('{{.InviteCode}}')">Copy invite
				link</button>
			<ul id="contributors-list">
			</ul>
		</div>

		<div id="tasks-pane">
			{{if eq .UserID .Repo.UserID}}
			<button id="add-task-button">
				Create task
			</button>
			{{end}}
			<ul id="tasks-list" class="container">
			</ul>
			<ul id="completed-tasks-list" class="container" hidden>
				<hr>
				<h3 id="title-completed">Completed</h3>
			</ul>
		</div>
	</div>
	{{$contributors := .Repo.Contributors}}
	{{range $contributor := $contributors}}
	<script>
		window.addEventListener('load', function () {
			contributorsList.dispatchEvent(new CustomEvent('add-contributor', {
				bubbles: true,
				detail: {
					elem: document.createElement('li'),
					name: "{{$contributor.User.Name}}",
					avatarURL: "{{$contributor.User.AvatarURL}}",
					id: "{{$contributor.ID}}",
				}
			}))
		})
	</script>
	{{end}}

	{{range $task := .Repo.Tasks}}
	{{if eq $task.IsCompleted true}}
	<script>
		window.addEventListener('load', function () {
			completedTasksList.dispatchEvent(new CustomEvent('add-task', {
				bubbles: true,
				detail: {
					elem: document.createElement('li'),
					description: "{{$task.Description}}",
					isCompleted: true,
					id: "{{$task.ID}}",
				}
			}))
		})
	</script>
	{{else}}
	<script>
		window.addEventListener('load', function () {
			tasksList.dispatchEvent(new CustomEvent('add-task', {
				bubbles: true,
				detail: {
					elem: document.createElement('li'),
					description: "{{$task.Description}}",
					isCompleted: false,
					id: "{{$task.ID}}",
				}
			}))
		})
	</script>
	{{end}}

	{{if ne (len $task.ContributorIDs) (len $contributors)}}
	{{range $contributorID := $task.ContributorIDs}}
	<script>
		window.addEventListener('load', function () {
			const task = tasksPane.querySelector('.task[data-task-id="{{$task.ID}}"]')
			if (task) {
				task.dispatchEvent(new CustomEvent('attach-contributor', {
					bubbles: false,
					cancelable: true,
					detail: {
						contributorId: '{{$contributorID}}',
						taskId: '{{$task.ID}}'
					}
				}))
			} else {
				console.error('no task for {{$task.ID}}')
			}
		})		
	</script>
	{{end}}
	{{end}}

	{{end}}
</main>
{{end}}

{{define "scripts"}}
<script src="/assets/scripts/reconnecting-websocket.js"></script>
<script src="/assets/scripts/draggable.js"></script>
<script src="/assets/scripts/task.js"></script>
<script src="/assets/scripts/contributor.js"></script>
<script src="/assets/scripts/repoView.js"></script>
{{end}}
