{{define "title"}}Edit repo{{end}}

{{define "body"}}
<main class="center-h col gap">
	<form method="POST" class="form">
		<div class="flex col center gap">
			{{if ne .Repo.ID 0}}
			<input type="hidden" name="_method" value="PATCH" />
			{{end}}
			<input type="text" id="name" name="name" class="form__input" value="{{.Repo.Name}}" autofocus
				maxlength="32" placeholder="Repo Name" required="" />
			<label for="name" class="form__label">Repo Name</label>
			<button type="submit">Save</button>
		</div>
	</form>
</main>
{{end}}


{{define "control"}}{{end}}
{{define "scripts"}}{{end}}
